body {
  padding: 10px;
  background-image: linear-gradient(#d9d9c1, #6b4238);
  /* background-color: #b6a38c; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*npm
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
